.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 980px;
    margin: 20px auto;
}

.card {
    height: 420px;
    width: 275px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 2px 2px 10px 2px #ddd;
    text-align: center;
    padding: 12px 24px;
    box-sizing: border-box;
    position: relative;
    margin: 18px;
    h4 {
        color: $black;
        font-size: 1.3rem;
    }
    h5 {
        color: $black;
        font-size: 1.2rem;
        margin: 0 0 12px;
    }

    .options {
        font-size: 1rem;
        padding: 6px;
        border-top: 1px solid #ddd;
    }
    &-icon {
        margin-top: 20px;
        width: 86px;
    }
}

.card-small {
    height: 300px;
    width: 220px;
    margin: 12px;
    padding: 0;
    overflow: hidden;

    .blog-image {
        height: 150px;
        width: 220px;
        overflow: hidden;
        background-image: url('../images/andrew.jpg');
        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
  .content {
    height: 150px;
}

    h4 {
        color: $black;
        font-size: 1.1rem;
        padding: 10px;
    }
}


.btn {
    @include font-base;
    position: absolute;
    background-size: 200% auto;
    font-size: 1rem;
    font-weight: 300;
    border-radius: 2px;
    border: none;
    color: white;
    background-color: $brand;
    padding: 12px 0;
    width: 220px;
    left: 50%;
    margin-left: -110px;
    bottom: 18px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
    background-position: right center;
    border: none; /* change the direction of the change here */
  }
}

.btn-orange {
    background-image: linear-gradient(to right, #F54D52 0%, #ff9966 51%, #F54D52 100%);
}

.btn-purple {
    background-image: linear-gradient(to right, #6A04D8 0%, #e100ff 51%, #6A04D8 100%);
}
.btn-blue {
    background-image: linear-gradient(to right, #000046 0%, #1cb5e0 51%, #000046 100%);
}

.btn-small {
    padding: 12px 0;
    width: 160px;
    left: 50%;
    margin-left: -80px;
    bottom: 18px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    &:hover {
        background-color: darken($brand, 15);
    }
}
