/*----------  Break Point 1 - 500px  ----------*/

@media only screen and (max-width: 975px) {

    h1 {
        font-size: 3.6rem
    }
    h3 {
        font-size: 1.6rem
    }
    .testimonial-content {
        &:before {
            display: none;
        }
        p {
            font-size: 1.2rem
        }
    }
}

@media only screen and (max-width: 830px) {
    h1 {
        font-size: 3.8rem
    }
    .hero {
        background-image: url('../images/hero-mobile.jpg');
        height: 500px;
    }
    .hero-inner {
        height: 480px;
    }
    .hero-text {
        text-align: center;
        width: 100%;
        padding: 0;
    }
    .half {
      flex-direction: column-reverse;
      text-align: center;
    }
}

@media only screen and (max-width: 700px) {
    header {
        position: absolute;
        width: 100%;
        padding: 10px 0;
    }
    .header {
        display: block;
        height: auto;
        padding: 5px 10px;
    }

    #hamburger {
      display: inline;
    }
    nav {
      display: none;
      text-align: center;
    }
    ul {
        padding: 40px;
    }
    li {
        display: block;
        padding: 20px;
        a {
            font-size: 1.8rem;
            font-weight: 500;
        }
    }
}



@media only screen and (max-width: 700px) {
  .hero-inner {

    padding:  0 20px;
  }
  h1 {
    font-size: 3rem
}

.inner {

  padding:  50px 20px;
}
p {
  font-size: 1.2rem;
}

.test-name {
  font-size: 1.3rem;
}
}