@import "normalise";
@import "colors";
@import "typography";
@import "cards";
@import "buttons";

header {background-color: white}

.inner {
    max-width:  1200px;
    margin: 0 auto;
    padding:  50px;

    &-text {
        max-width:   800px;
        margin:     0 auto;
        text-align: center;
    }
}

.header {
    height:    72px;
    max-width:   1200px;
    margin:  0 auto;
    display:   flex;
    padding: 0 30px;
    align-items: center;
    justify-content: space-between;
    &-logo img {
        width: 200px;
    }
}

li {
    display: inline;
    padding: 12px;
}

.hero {
    background-image: url('../images/hero.jpg');
    background-position: right top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 660px;
    width: 100%;

    &-inner {
        max-width:  1200px;
        margin: 0 auto;
        padding:  0 50px;
        display: flex;
        align-items: center;
        height: 620px;

        &-text {
            display: table-cell;
            vertical-align: middle;
        }
    }
}



.sub {
    padding: 6px 0;
    &-input{
        font-size: 1.2rem;
        padding: 4px;
        margin: 0;
        width: 200px;
        height: 22px;
        border: none;
    }
    &-button {
        @include font-base;
        height: 30px;
        font-size: 0.9em;
        background-color: black;
        color: white;
        border: none;
        padding: 6px;
        margin-left: -4px;
        vertical-align: top;
    }
}


.services, .testimonials {
    background-color: #f7f7f7;
}


@import "media-queries";